.prime-btn {
  display: block;
  text-align: center;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background: var(--accent);
  color: var(--color-light);
  transition: 0.3s;

  &:hover {
  color: var(--primary);
  background: var(--button-hover);
}
}


