.about {
  padding-top: 50px;
  padding-bottom: 58px;

  @include breakpoint(xl) {
    padding-bottom: 60px;
  }

  @include breakpoint(sm) {
    padding-bottom: 50px;
  }

  &__cards {
    @include breakpoint(md) {
      /* margin-top: 50px; */
      justify-content: center;
    }

    @include breakpoint(sm) {
      margin-top: 50px;
    }
  }

  &__card {
    margin-top: 71px;
    text-align: center;

    @include breakpoint(xl) {
      margin-top: 32px;
    }

    @include breakpoint(sm) {
      margin-top: 10px;
    }
  }

  &__card-img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 50%;

    @include breakpoint(xl) {
      width: 147px;
      height: 147px;
    }
  }

  &__card-title {
    padding: 33px 0;
    font-family: "Open-Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    text-transform: capitalize;

    @include breakpoint(xl) {
      padding: 28px 0;
      font-size: 18px;
    }
  }

  &__card-text {
    margin-top: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    @include breakpoint(xl) {
      margin-top: 9px;
      font-size: 14px;
      line-height: 1.1;
    }
  }
}
