.pricing {
  padding: 50px 0;
  background: var(--color-info);

  @include breakpoint(sm) {
    padding-bottom: 26px;
  }

  &__row {
    margin-top: 79px;

    @include breakpoint(xl) {
      margin-top: 50px;
    }

    @include breakpoint(md) {
      justify-content: center;
    }

    @include breakpoint(sm) {
      margin-top: 24px;
    }
  }
}
