.reviews {
  padding-top: 50px;
  padding-bottom: 64px;

  @include breakpoint(xl) {
    padding-bottom: 57px;
  }

  @include breakpoint(sm) {
    padding-bottom: 30px;
  }

  &__row {
    margin-top: 83px;

    @include breakpoint(xl) {
      margin-top: 32px;
    }

    @include breakpoint(sm) {
      margin-top: 0;
    }
  }

  &__card {
    @include breakpoint(md) {
      margin-top: 24px;
      margin-bottom: 35px;
    }

    @include breakpoint(sm) {
      margin-top: 24px;
      margin-bottom: 0;
    }
  }

  &__text {
    position: relative;
    padding: 38px 20px;
    margin-bottom: 66px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--secondary);
    background-color: var(--color-secondary-light);
    border-radius: 10px;

    @include breakpoint(xl) {
      padding: 50px 26px;
      font-size: 14px;
      line-height: 1.1;
    }

    @include breakpoint(md) {
      margin-bottom: 30px;
    }

    @include breakpoint(sm) {
      margin-bottom: 62px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 75px;
      border: 10px solid transparent;
      border-top: 15px solid var(--color-secondary-light);

      @include breakpoint(xl) {
        left: 65px;
      }
    }
  }

  &__autor {
    display: flex;
    flex-wrap: wrap;
  }

  &__autor-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    @include breakpoint(xl) {
      width: 63px;
      height: 63px;
    }
  }

  &__autor-text {
    padding-left: 30px;

    @include breakpoint(xl) {
      padding-left: 22px;
    }
  }

  &__autor-name {
    margin-bottom: 15px;
    font-family: "Open-Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    text-transform: capitalize;

    @include breakpoint(xl) {
      margin-bottom: 9px;
      font-size: 18px;
    }

    @include breakpoint(sm) {
      font-size: 14px;
    }
  }

  &__autor-position {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    @include breakpoint(xl) {
      font-size: 14px;
    }

    @include breakpoint(sm) {
      font-size: 13px;
    }
  }
}
