.tabs {
  padding-top: 100px;

  @include breakpoint(xl) {
    padding-top: 55px;
  }

  @include breakpoint(sm) {
    padding-top: 45px;
  }

  &__tab {
    display: inline-block;
    width: 35%;
    text-align: left;

    @include breakpoint(md) {
      width: 50%;
    }

    @include breakpoint(sm) {
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    width: 32%;
    margin-bottom: -1px;
    padding: 15px;
    background-color: var(--white);
    color: var(--primaryColor);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: "Open Sans";
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--color-cuccess);
    transition: 0.3s;

    @include breakpoint(sm) {
      width: 30%;
    }

    &:active {
      border-bottom-color: var(--white);
    }

    &:hover {
      background: var(--accent);
    }
  }

  &__card {
    border: 1px solid var(--color-cuccess);
    background: var(--white);
  }

  &__card-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include breakpoint(md) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card-info {
    /* width: calc(100% / 2 - 30px); */
    width: 57%;
    padding-left: 100px;

    @include breakpoint(xl) {
      width: 57%;
      padding-left: 85px;
    }

    @include breakpoint(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 22px;
    }

    @include breakpoint(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 22px;
    }
  }

  &__card-title {
    padding: 42px 0;
    text-align: left;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;

    @include breakpoint(xl) {
      padding: 28px 0;
      font-size: 24px;
    }

    @include breakpoint(sm) {
      padding: 44px 0;
      font-size: 18px;
    }
  }

  &__card-desc {
    margin: 27px 0;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    @include breakpoint(xl) {
      margin: 38px 0;
      font-size: 14px;
      line-height: 1.1;
    }

    @include breakpoint(sm) {
      margin: 29px 0;
      font-size: 13px;
      line-height: 1.2;
      text-align: center;
    }
  }

  &__card-btn {
    width: 270px;
    padding: 17px;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 30px;

    @include breakpoint(xl) {
      width: 232px;
    }

    @include breakpoint(sm) {
      width: 243px;
      padding: 13px;
    }
  }

  &__card-img {
    width: 40%;

    // @include breakpoint(xl) {
    //   width: 40%;
    // }

    @include breakpoint(sm) {
      display: none;
    }
  }
}
